*{
    margin: 0;
}

html, body{
    height: auto; /* This is applied by default, so it's not necessary to define it */
    min-height: 100vh;
  }

body{
    background-color: aqua;
}

.container{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    min-height: 100%;
}

.side_boxes article{
    background-color: aliceblue;
    margin: 10px 30px 10px 30px;
    padding: 5px;
}

header{
    background-color: blueviolet;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#dixie{
    grid-column: 1;
    grid-row: span 6;
    justify-items: center;
    background-color: bisque;
}

#category_buttons{
    grid-column: 2;
    grid-row: 2;
    background-color: darkcyan;
}

#clothing_select{
    grid-column: 2;
    grid-row: 3 /span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: coral;
}

#misc_buttons{
    grid-column: 2;
    grid-row: 5;
    background-color: darkgray;
}

#category_buttons, #misc_buttons{
    display: flex;
    justify-content: space-evenly;
}

#category_buttons figure, #misc_buttons figure{
    background-color: aliceblue;
    height: 100px;
    width: 100px;
}

#clothing_select figure{
    height: 80px;
    width: 80px;
    margin: 5px;
    background-color: aliceblue;
}

footer{
    background-color: cornflowerblue;
}

section{
    height: 50px;
}

@media only screen and (max-width: 400px) {
    body {
      background-color: lightblue;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        min-height: 100%;
    }

    #left_boxes{
        align-self: flex-end;
    }

    #right_boxes{
    }

    .main{
    }

    .side_boxes{
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    #dixie{
        grid-column: 1 /span 2;
        grid-row: 2 /span 4;
        justify-items: center;
        background-color: bisque;
    }
    
    #category_buttons{
        grid-column: 1;
        grid-row: 1;
        background-color: darkcyan;
    }
    
    #clothing_select{
        grid-column: 3;
        grid-row: 1 /span 6;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        background-color: coral;
    }
    
    #misc_buttons{
        grid-column: 1 /span 2;
        grid-row: 6;
        background-color: darkgray;
    }
    
    #category_buttons, #misc_buttons{
        display: flex;
        justify-content: space-evenly;
    }
    
    #category_buttons figure, #misc_buttons figure{
        background-color: aliceblue;
        /* height: 100px;
        width: 100px; */
    }
    
    #clothing_select figure{
        /* height: 80px;
        width: 80px; */
        margin: 5px;
        background-color: aliceblue;
    }
  }
